.productParentBox {
    position: relative;
    width: 1000px;
    height: 400px;
    background-color: rgba(185,235,80,255);
    margin-left: 140px;
    margin-top: 100px;
  }

  .productPicture {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 450px;
    height: 250px;
  }

  .productTitle {
    position: absolute;
    width: 440px;
    height: 80px;
    word-wrap: break-word;
    word-break: break-all;
    display: inline;
  }

  .productTitle {
    position: absolute;
    bottom: 30px;
    left: 5px;
    padding: 5px;
    color: black;
    font-size: x-large;
    font-family: none;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    display: inline;
  }

  .productPrice {
    position: absolute;
    left: 25px;
    bottom: 10px;
    color: black;
    font-size: 20px;
    font-family: none;
  }

  .productDescriptionDiv{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 400px;
    height: 390px;
  }

  .productDescription {
    position: inherit;
    word-wrap: break-word;
    word-break: break-all;
    display: inline;
    bottom: 200px;
    right: 50px;
    color: black;
    font-size: small;
    font-family: none;
    text-align: center;
  }

  .productAddCartIcon {
    width: 65px;
    height: 65px;
    color: rgba(185,235,80,255);
    position: relative;
    left: 890px;
    top: 290px;
}

.productAddCartIcon:hover {
    color: rgb(135, 32, 3);
}


/* cart */

  .parentBox{
    margin-top: 150px;
  }

  .cartchildBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 110px;
    margin-left: 30%;
    width: 1150px;
    height: 350px;
    background-color: rgba(185,235,80,255);
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
  }

  .cartTitle {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
  }

  .cartPrice {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
  }

  .cartQuantity {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
   
  }

  .doneIcon {
    width: 50px;
    height: 50px;
    color: white;

  }

  .linkDoneIcon {
    position: fixed;
    right: 80px;
    bottom: 90px;
  }

  .cartchildBox img {
    max-width: 50%;
  }

  .noProductsMessage {
    position: fixed;
    left: 38%;
    top: 50%;
    right: 38%;
    bottom: 50%;
    color: red;
  }

  .delete-button{
    height: 50px;
    margin-top: 280px;
    margin-left: 220px;
  }

  .carttextContainer{
    padding: 20px;
    font-size: 25px;
  }
  .buttons{
    position: fixed;
    top: 870px;
    left: 1700px;
    
  }
 

  .clear-button{
    background-color: rgb(253, 126, 126);
 
  }
  .buy-button{
    background-color: rgba(185,235,80,255);
    
  }

  .addProduct input{
     color: black;
  }
 
  .submit-product{
    background-color: rgba(185,235,80,255);
  }
  .submit-product:hover{
    background-color: rgb(125, 201, 26);
  }
  .image{
 
   border-radius: 0px;
  }