.GreenLabel {
    background-color: rgb(51, 225, 103);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0px;
}

.meoradebi {
    color: white;
    text-align: center;
    margin-top: 40%;
    font-size: 100px;
    font-family: cursive;
    position: fixed;
    bottom: 10%;
    left: 10%;
}

.welcome {
    margin-top: -150px;
    margin-right: -40px;
    color: rgb(14, 163, 14);
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    position: relative;
    /* left: -10%; */
    top: 30px;
}


/* .ParrenSignIn {
    margin-top: 200px;
    margin-left: 150px;
    float: right;
    margin-right: 300px;
    position: fixed;
    left: 60%;
    top: 0%;
} */


.Password, .UserName {
    margin: 5px;
    background-color: rgb(14, 163, 14);
    width: 250px;
    height: 30px;
    color: white;
    border-radius: 42px;
}

.error {
    border: 2px solid red; /* Error border color */
  }

.error-message {
    color: black; /* Set desired text color */
    padding: 0px;
  }

.signIn {
    margin-left: 55px;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background-color: rgb(14, 163, 14);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size:20px;
    color: white;
}

.Fpassword, .CaNaccount {
    color: green;
    margin-left: 60px;
}