.ParrenSignIn{
    margin-top: 250;
    margin-left: 180px;
    float: right;
    margin-right: 300px;
    position: fixed;
    width: 250px;
    left: 60%;
    top: 0%;
}

.welcome {
    margin-top: 20px;
    margin-left: -30px;
 text-align: center;
    color: rgba(185,235,80,255);
    font-size: 90px;
    font-family:'Chau Philomene One' ;
}


.Sent {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: rgba(185,235,80,255);
    font-family:'Chau Philomene One' ;
    font-size:20px;
    color: white;
    position: absolute;
    left: 28%;
    border: none;
    outline: none;
    text-align: center;
}

.ComeOn {
    color: red;
    font-size: 30px;
    font-family:'Chau Philomene One' ;
    position: fixed;
    top: 70%;
    left: 72.2%;
}