  .parrentBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 110px;
  }

  .childBox {
    width: calc(25% - 100px);
    height: 250px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 17px;
    overflow: hidden;
  }

  .childBox img, 
  .childBox h6 {
    max-width: 100%;max-height: 50%;
  }

  .textContainer {
    display: flex;
  }

  .textContainer h6 {
    margin-right: 10px;
  }
    
  .seeMoreIcon {
    width: 25px;
    height: 25px;
    color: green;
    position: relative;
    left: 170px;
    bottom: 0;
  }

  .aloneParentBox {
    position: relative;
    width: 1000px;
    height: 400px;
    background-color: green;
    margin-left: 140px;
    margin-top: 100px;
  }

  .alonePicture {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 450px;
    height: 250px;
  }

  .aloneTitle {
    position: absolute;
    width: 440px;
    height: 80px;
    word-wrap: break-word;
    word-break: break-all;
    display: inline;
  }

  .aloneTitle {
    position: absolute;
    bottom: 30px;
    left: 5px;
    padding: 5px;
    color: black;
    font-size: x-large;
    font-family: none;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    display: inline;
  }

  .alonePrice {
    position: absolute;
    left: 25px;
    bottom: 10px;
    color: black;
    font-size: 20px;
    font-family: none;
  }

  .AloneDescriptionDiv{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 400px;
    height: 390px;
  }

  .AloneDescription {
    position: inherit;
    word-wrap: break-word;
    word-break: break-all;
    display: inline;
    bottom: 200px;
    right: 50px;
    color: black;
    font-size: small;
    font-family: none;
    text-align: center;
  }